<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tareas</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <br>
      <div class="container">
        <header class="text-center">
          <h1>Tus Tareas</h1>
        </header>
      </div>
      <hr>
    </div>
    <div class="container">
      <form action="/create" method="POST">
        <div class="form-group">
          <h3 class="text-center">Crear Tareas</h3>
          <input type="text" name="name" class="form-control" placeholder="Escribe tu tarea acá...">
        </div>
        <button type="submit" class="btn btn-primary">Crear Tarea</button>
      </form>
      <hr>
      <% if @tareas.empty? %>
      <h3 class="text-center">No tienes tareas pendientes. Felicitaciones!</h3>
      <% else %>
        <div class="btn-group">
          <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tareas
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/">Todas</a>
            <a class="dropdown-item" href="/A">Sin Completar</a>
            <a class="dropdown-item" href="/B">Completas</a>
          </div>
        </div>
        <hr>
        <ul class="list-group">
        <% @tareas.each do |tarea| %>
          <li class="list-group-item text-center">
            <h2><strong ><%= tarea["title"] %></strong></h2>
          </li>
          <li class="list-group-item text-center">
            <span>
              <% if tarea["done"] == false %>
                <form action="/update/<%= tarea["id"] %>" method="post">
                  <input type="hidden" name="_method" value="patch">
                  <button class="btn btn-success btn-sm" type="submit button">Completa</button>
                </form>
              <% else %>
                <h6>Completaste esta tarea. Buen trabajo!</h6>
              <% end %>
              <hr>
              <form action="/delete/<%= tarea["id"] %>" method="post">
               <input type="hidden" name="_method" value="delete">
               <button class="btn btn-danger btn-sm" type="submit button">Eliminar</button>
              </form>
            </span>
           </li>
        <% end %>
        </ul>
      <% end %>
    </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
